#dashboard-container{
    height: 89px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.dashboard__ul{
    display: flex;
    list-style: none;
    margin-right: 180px;
}
.dashboard__ul li{
    margin-left: 30px;
    font-size: 16px;
}
#dashboard__lit-logo{
    width: 60px;
    height: 60px;
    margin-left: 180px;
}
.dashboard__more-icon{
    width: 8px;
    height: 8px;
    cursor: pointer;
}
#dashboard__profile-pic{
    display: block;
    background-color: #C4C4C4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
